label{
  font-family: 'Quicksand', sans-serif;
  color: #ffc0c2;
  font-size: 120%;
}
.contact_us_div_1{
  background-color: #0e3150;
  color: #6dc9c8;
  padding: 15px 25px 15px 25px;
  margin: 50px 10% 0 10%;
  font-family: 'Mali', cursive;
  font-size: 110%;
  border-radius: 7px;
  text-align: center;

  border-left-style: solid;
  border-left-width: 15px;
  border-left-color: #6dc9c8;
}
.contact_us_img{
  height: 150px;
  width: 150px;
  margin: 3% 0 3% 0;
}
.p_line{
  padding: 10px 10% 10px;
  font-family: 'Quicksand', sans-serif;
  color: #6dc9c8;
  font-size: 130%;
}
.contact_us_div_2{
  background-color: #0e3150;
  color: #6dc9c8;
  padding: 15px 25px 15px 25px;
  margin: 50px 10% 0 10%;
  font-family: 'Mali', cursive;
  font-size: 110%;
  border-radius: 7px;
  text-align: center;

  border-left-style: solid;
  border-left-width: 15px;
  border-left-color: #6dc9c8;
}
.in_div_2{
  margin: 20px 0 0 0;
}
#id_first_name{
  width: 190px;
  height: 20px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
}
#id_last_name{
  width: 190px;
  height: 20px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
}
#id_email{
  width: 190px;
  height: 20px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
}
#id_message{
  width: 190px;
  height: 100px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
}
