body{
  background-color: #ffc0c2;
}


.div_header{
  position: relative;
  background-color: #0e3150;
  width: 100%;
  height: 70px;
}
.div_h1{
  position: absolute;
  color: #ffc0c2;
  padding: 5px 10px 10px 40px;
  font-family: 'Merienda', cursive;
  font-size: 230%;
  border-left-style: solid;
  border-left-width: 10px;
  border-left-color: #6dc9c8;
}
.div_h1:hover{
  position: absolute;
  color: #6dc9c8;
}
/* .search{
  position: relative;
  float: left;
  color: #ffc0c2;
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
  column-count: 2;
  text-align: center;
} */
.search_bar{
  position: absolute;
  right: 340px;
  bottom: 18px;
  width: 200px;
  height: 35px;
}
.search_btn{
  position: absolute;
  right: 350px;
  bottom: 21px;
  background-color: #ffffff;
  border: solid 0px;
}
.search_img{
  height: 25px;
  width: 25px;
}
.div_top_navbar{
  position: absolute;
  right: 5%;
  margin: 7px 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 100%;
  font-family: 'Overpass', sans-serif;
  overflow: hidden;/*____idk___from w3____ */
}
/* Style the <a> tag inside the navigation bar */
.div_top_navbar a {
  float: left; /*___idk___from_w3___*/
  color: #ffc0c2;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}
/* Change the size of links on hover */
.div_top_navbar a:hover {
  color: #6dc9c8;
}
/* Add an active class to highlight the current page */
.div_top_navbar a.active {
  font-size: 17px;
  /* text-decoration: underline; */
  border-bottom: 1px solid #ffc0c2;
  padding-bottom: 2px;
  color: #ffc0c2;
}
/* Change the size of links on hover on active page name */
.div_top_navbar a:hover.active {
  color: #6dc9c8;
}
/* Hide the link that should open and close the topnav on small screens */
.div_top_navbar .icon {
  padding: 8px 10px 2px 10px;
  margin: -6px 0 6px 6px;
  font-size: 23px;
  border: solid 1px;
  border-radius: 4px;
  display: none;
  border-left-style: solid;
  border-left-width: 3.5px;
  border-left-color: #6dc9c8;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  border-bottom-color: #6dc9c8;
}
.div_top_navbar .icon:hover {
  padding: 8px 10px 2px 8px;
  margin: -6px 0 6px 6px;
  font-size: 23px;
  border: solid 1px;
  border-radius: 4px;
  background-color: #ffc0c2;
  color: #0e3150;
  border-left-style: solid;
  border-left-width: 3.5px;
  border-left-color: #6dc9c8;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  border-bottom-color: #6dc9c8;
  /* display: none; */
}
.list{
  position: relative;
  background-color: #0e3150;
  color: #6dc9c8;
  padding: 15px 200px 15px 3%;
  margin: 15px 10% 15px 10%;
  font-family: 'Mali', cursive;
  font-size: 120%;
  border-radius: 5px;

  border-left-style: solid;
  border-left-width: 15px;
  border-left-color: #6dc9c8;
}

/* When the screen is less than 900 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
  .div_top_navbar a /*:not(:first-child)*/{display: none;}
  .div_top_navbar a.icon {
    float: right;
    display: block;
  }
}
.img_1{
  height: 150px;
  width: 150px;
  margin: 3% 0 3% 0;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  margin: 50px auto 50px auto;
  padding: 20px 0 0 0;
  background-color: transparent;
  width: 200px;
  height: 140px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
  .div_top_navbar.responsive {
    position: relative;
    margin: 0 0 0 70%;
    padding: 57px 0 0 0;
    border-radius: 5px;
  }
  .div_top_navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 17px;
    background-color: #ffc0c2;
    color: #0e3150;
  }
  .div_top_navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color:  #0e3150;
  }
 .search_bar{
   position: absolute;
   right: 16%;
   width: 100px;
  }
 .search_btn{
   position: absolute;
   right: 18%;
   background-color: #ffffff;
   border: solid 0px;
  }
 .div_h1{
   padding: 15px 0 17px 3%;
   font-size: 160%;
  }
 .flip-box {
   margin: 60px auto 40px auto;
  }
  .img_1{
    margin: 30px 0 0 0;
    height: 120px;
    width: 120px;
  }
  .list{
    padding: 50px 15px 15px 3%;
    font-size: 100%;
  }
  .col-5{
   margin: 0 auto 0 auto;
   width: 230px;
  }
}

/* footer{

} */
.div_center{
  margin: 0 10% 0 10%;
  background-color: #0e3150;
  border-left-style: solid;
  border-left-width: 15px;
  border-left-color: #6dc9c8;
  border-radius: 7px;
}
.div_1{
  text-align: center;
}

.div_2{
  text-align: center;
}
.btn {
  background: #344fa1;
  background-image: -webkit-linear-gradient(top, #344fa1, #0e3150);
  background-image: -moz-linear-gradient(top, #344fa1, #0e3150);
  background-image: -ms-linear-gradient(top, #344fa1, #0e3150);
  background-image: -o-linear-gradient(top, #344fa1, #0e3150);
  background-image: linear-gradient(to bottom, #344fa1, #0e3150);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  color: #ffc0c2;
  font-size: 100%;
  margin: 20px 2% 20px 2%;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

  border-left-style: solid;
  border-left-width: 3.5px;
  border-left-color: #6dc9c8;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  border-bottom-color: #6dc9c8;
}

.btn:hover {
  color:#6dc9c8;
  background: #0e3150;
  background-image: -webkit-linear-gradient(top, #0e3150, #344fa1);
  background-image: -moz-linear-gradient(top, #0e3150, #344fa1);
  background-image: -ms-linear-gradient(top, #0e3150, #344fa1);
  background-image: -o-linear-gradient(top, #0e3150, #344fa1);
  background-image: linear-gradient(to bottom, #0e3150, #344fa1);
  text-decoration: none;
}
/* .div_3{

} */

.done{
  position: absolute;
  top: 9px;
  right: 90px;
}
.delete{
  position: absolute;
  top: 9px;
  right: 10px;
}
.btn_2 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  color: #0e3150;
  font-size: 83.33%;
  background: #ffc0c2;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

  border-left-style: solid;
  border-left-width: 3.5px;
  border-left-color: #6dc9c8;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  border-bottom-color: #6dc9c8;
}

.btn_2:hover {
  color: #0e3150;
  background: #6dc9c8;
  text-decoration: none;

  border-left-style: solid;
  border-left-width: 3.5px;
  border-left-color: #ffc0c2;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  border-bottom-color: #ffc0c2;
}

.div_4{
  background-color: #323232;
  font-size: 14px;
  padding: 25px 0 25px 0;
  margin: 50px 0 0 0;
  font-family: 'Overpass', sans-serif;
}
/* footer nav bar */
.f_navbar{
  text-align: center;
}
.f_navbar a {
  /* float: left; */
  color: #6dc9c8;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  display: inline;
}
.f_navbar a:hover {
  color: #ffc0c2;
}
.f_navbar a.active {
  font-size: 14px;
  /* text-decoration: underline; */
  border-bottom: 1px solid #ffc0c2;
  padding-bottom: 2px;
  color: #6dc9c8;
}
.f_navbar a:hover.active {
  color: #ffc0c2;
}
.f_socialmedia{
  color: #6dc9c8;
  column-count: 2;
  column-rule: 1px solid #ffc0c2;
  margin: 20px 0 0 0;
}
.f_vinit{
  text-align: right;
  margin: 0 20px 0 0;
}
.f_jainish{
  text-align: left;
  margin: 0 0 0 20px;
}
.img{
  width: 20px;
  margin: 3% 3% 0 3%;
}

.copyright{
  text-align: center;
  color: #6dc9c8;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #0e3150;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #0e3150;
  color: #ffc0c2;
  font-family: 'Quicksand', sans-serif;
  transform: rotateY(180deg);
}
